
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <div class="list-header clearfix">
            <span>Error</span>
        </div>
        <div class="list-sfs-holder">
            <div class="alert alert-error">
                An unexpected error has occurred. Please contact the system administrator.
            </div>
        </div>
    </div>
</body>
</html>
